.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.progress-bar {
  background: #00a88e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  transform-origin: 0%;
}
.slide {
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  width: 100vw;
  height: 100vh;
  /* z-index: 1000; */
}
