/* Add this to your global styles or in your component's styles */
.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #4a5568 #cbd5e0; /* thumb color and track color */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px; /* Set the width of the scrollbar for WebKit browsers (Chrome, Safari) */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #EAECF0; /* Set the color of the scrollbar thumb */
  }
  