@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  @apply bg-[#002B4F];
}
.btn-bg {
  @apply bg-[#0060AF];
}
.text-primary {
  @apply text-[#002B4F];
}
.text-secondary {
  @apply text-[#00A88E];
}
.border-bg {
  @apply border-[#00A88E];
}
.text-third {
  @apply text-[#667085];
}

/* slick slider */
.slick-slider .slick-slide {
  padding: 0 15px;
}

/* animation */

.curve .clip {
  width: 100vw;
  height: calc(100vh + 600px);
  top: -300px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  opacity: 0.9;
}
.background {
  width: 100vw;
  height: calc(100vh + 600px);
  top: -300px;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  background: black;
  opacity: 0.9;
}
.route {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  z-index: 101;
  color: white;
}
